<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GST Calculator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🧾 GST Calculator</h1>

    <form method="POST">

        <label>Original Amount</label><br>
        <input type="number" name="amount" step="0.01" required><br><br>

        <label>GST Percentage</label><br>
        <input type="number" name="gst" step="0.01" required><br><br>

        <button type="submit">Calculate</button>

    </form>

    {% if final_amount %}

    <hr>

    <h2>Result</h2>

    <p><b>Original Amount:</b> ₹ {{ amount }}</p>

    <p><b>GST Amount:</b> ₹ {{ gst_amount }}</p>

    <p><b>Final Amount:</b> ₹ {{ final_amount }}</p>

    {% endif %}

</div>

</body>
</html>