<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Calculator Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
    <div class="logo">
       <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <span>Smart Calculator Hub</span>
    </div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/dob">DOB</a>
        <a href="/salary">Salary</a>
        <a href="/student">Student</a>
        <a href="/discount">Discount</a>
        <a href="/average">Average</a>
    </div>
</nav>

<div class="container">

    <h1>🧮 Smart Calculator Hub</h1>
<h3>Your All-in-One Calculation Solution</h3>

    <br>

    <a href="/dob">
        <button>🎂 Date of Birth Calculator</button>
    </a>

    <br><br>

    <a href="/salary">
        <button>💰 Salary Calculator</button>
    </a>

    <br><br>

    <a href="/student">
        <button>🎓 Student Percentage</button>
    </a>

    <br><br>

    <a href="/discount">
        <button>🛒 Discount Calculator</button>
    </a>

    <br><br>
    
    <a href="/average">
        <button>📊 Average Calculator</button>

    <br><br>

    <a href="/gst">
    <button>📈 Gst Calculator</button>

    <br><br>

    <a href="/emi">
    <button>🏦 EMI Calculator</button>

    
</a>

</div>

</body>
<nav class="navbar">
    <div class="logo">
        🧮 Smart Calculator Hub
    </div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/dob">DOB</a>
        <a href="/salary">Salary</a>
        <a href="/student">Student</a>
        <a href="/discount">Discount</a>
        <a href="/average">Average</a>
        <a href="/gst">Gst</a>
        <a href="/emi">EMI</a>
    </div>
</nav>
</html>