<!DOCTYPE html>
<html>
<head>
    <title>Salary Calculator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>Salary Calculator</h1>

<form method="POST">

    <label>Employee Name</label><br>
    <input type="text" name="employee" required><br><br>

    <label>Basic Salary</label><br>
    <input type="number" name="basic_salary" required><br><br>

    <label>Bonus</label><br>
    <input type="number" name="bonus" required><br><br>

    <label>Tax %</label><br>
    <input type="number" name="tax" required><br><br>

    <button type="submit">Calculate</button>

</form>
{% if employee %}

<div class="result">

<h2>Salary Result</h2>

<p><b>Employee:</b> {{ employee }}</p>

<p><b>Basic Salary:</b> ₹{{ basic_salary }}</p>

<p><b>Bonus:</b> ₹{{ bonus }}</p>

<p><b>Tax:</b> {{ tax }}%</p>

<p><b>Gross Salary:</b> ₹{{ gross_salary }}</p>

<p><b>Tax Amount:</b> ₹{{ tax_amount }}</p>

<p><b>Net Salary:</b> {{ net_salary }}</p>

</div>

{% endif %}
</div>
</body>
</html>